<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Success</title>
  </head>
  <body>
    <h1>Session for new</h1>
    <div class="container" style="margin-left: 30px;">
      <p>name: <%= data.name %></p>
      <p>alias: <%= data.alias %></p>
      <p>age: <%= data.age %></p>
      <p>description: <%= data.about %></p>
      <p>photo: <%= data.photo %></p>
      <p>experience: <%= counter %></p>
      <p>level: <%= data.levelOfControl %></p>
      <p>purpose: <%= purpose %></p>
    </div>
    <form action="" method="GET">
      <fieldset>
        <br />
        <button class="clear" type="submit" id="form">FORGET</button>
        <br /><br />
      </fieldset>
    </form>
  </body>
</html>
